@model Disertatie.Core.Models.Mesaj

<div class="doc-details-inner">

    
    

        <table border="0" style="width: 100%;" class="doc-details-table">
            <tr>
            <td>
            @Model.Detalii
            </td>
              </tr>
        </table>

</div>

