@using Disertatie.Helpers
@using Disertatie.Core.Models;
@model Disertatie.Models.MembruHomeModel
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js" type="text/javascript"></script>
 @if (Model.CreeazaProiectModel.ObiectiveGenerale.Count > 0)
 {       
             
 <table width="390px" id="tblObiectiveGenerale">
        
                 <thead>
                    <tr>
                        <th>
                           
                        </th>
                       <th></th>
                    </tr>
                </thead>
                <tbody id="obiectiveGenerale">
                  @for (int i = 0; i < Model.CreeazaProiectModel.ObiectiveGenerale.Count; i++)
                  {
                        <tr>
                            <td>
                                @Html.TextAreaFor(m => Model.CreeazaProiectModel.ObiectiveGenerale[i].Descriere,1,5,null)
                            </td>
                            
                                <td><a href="#" class="removeOG" data-indexOG="@i">Sterge</a></td>
                               @* @Html.ActionLink("Sterge obiectiv", "StergeObiectivGeneral", "Proiecte", new { id = Model.CreeazaProiectModel.ObiectiveGenerale[i].Id }, new { @class = "delete" })*@
                            
                        </tr>
                  }
               </tbody>
        
            </table>   
 }
