@model Disertatie.Models.TrimiteInvitatieModel
<p>Invitatiile au fost trimise cu succes!</p>
<p class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><a href="javascript:void(0);" class="close">Inchide fereastra</a></p>